{% extends "index.html" %}
{% block content %}

<div id="loading"><div id="overlay"></div><div id="overlay_image"></div></div>




<div id="content">

<div id="LeftPanel" style="width: 20%; padding-left: 2%; padding-right: 2%; height: 100%; float: left; background: rgba(170,170,170,0.5);">

  <form method="POST" action="/indicator_choice" id="indicator_id">
  <h3>Climate indicator <a href="documentation#doc_indicators"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></h3>
  {% if small_region_warning==True %}
  <p class=warn_txt><b>Warning: </b>The chosen region is smaller than 5 grid-cells. We don't provide extreme indicators for such small regions!</p>
  {% endif %}
  {{ form_indicator.indicators(onchange="change_indicator();") }}
  <a class="label label-primary" href="/prepare_for_download/get_data**bla" target="_blank"  style="margin-right: 5px;">{{download_data }}</a>
  </form>

{% if use_periods==0 %}
  <form method="POST" action="/warming_lvl_choice" id="warming_lvl_id">
    <h3>Global Warming Level <a href="documentation#doc_scenario"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></h3>
    <p class=small>Global warming level above pre-industrial for which the regional response is presented. Alternatively you can use
    <a href="switch_to_periods">fixed time periods</a></p>
  {{ future_warming_lvl }}<br> {{ form_warming_lvl.warming_lvls(onchange="change_warming_lvl();") }}
  {{ ref_warming_lvl }}<br> {{ form_warming_lvl_ref.warming_lvl_refs(onchange="change_warming_lvl();") }}
  </form>
{% endif %}

{% if use_periods==1 %}
  <form method="POST" action="/period_choice" onsubmit="period_change()" id="period_id">
  <h3>Projection Period</h3>
  <p class=small>Time periods for which projections are shown. Alternatively you can select
    <a href="switch_to_periods"> global warming levels</a>
    for which the regional climate response will be displayed
    <a href="documentation#doc_scenario"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></p>
      Reference period {{ form_period.period_ref(size=10) }}
      Projection period {{ form_period.period_proj(size=10 ) }}
    <button type="submit" class="btn">Select periods</button>
  </form>
{% endif %}

  <form method="POST" action="/season_choice" id="season_id">
  <h3>Time scale</h3>
  <p class=small>Select annual or monthly time scale or
  <a href="go_to_season_page">define a season</a>
  {{ form_season.seasons(onchange="change_season();") }}
  </form>


  <form method="POST" action="/region_choice" id="region_id">
  <h3>Region <a href="documentation#doc_shapefiles"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></h3>
  <p class=small>Region for which the transient and annual cycle is presented. You can also
  <a href="merging_page">merge regions</a>.
  </p>
  {{ form_region.regions(onchange="change_region();") }}
  {% if small_region_warning==True %}
  <p class=warn_txt><b>Warning:</b>The chosen region is smaller than 5 grid-cells. Please
  <a href="merging_page"><font color="BlueViolet">merge regions</font></a></p>
  {% endif %}
  <IMG SRC={{ fl_plot_location }} ALT=' ' WIDTH=350 HEIGHT=350></IMG>
  </form>

</div>


<div id="LeftPanel" style="width: 74%; height: 100%; float: left; padding-left: 2%;">
  <h3>Regional climate model projections vizualized for the country scale </h3>
  <p>Click on <a class="label label-primary" tyle="margin-right: 5px;">png</a> or <a class="label label-primary" tyle="margin-right: 5px;">pdf</a> to download high resolution graphics.
  <div id="LeftPanel" style="width: 50%; height: 100%; float: left;">

      <figure>
        <caption><h3>Reference Period
        <a href="documentation#doc_plot_climatology"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a>
          <form method="POST" action="/prepare_for_download/plot_reference_map**_large.png" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">png</button></form>
          <form method="POST" action="/prepare_for_download/plot_reference_map**.pdf" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">pdf</button></form> </h3>
        </caption>
        <IMG SRC={{fl_plot_reference_map}} ALT=' ' WIDTH=100%></IMG>
        <figcaption class=small>Precipitation sum over the reference {{ref_longname}}. This map is based on the <a href=documentation#doc_EWEMBI>EWEMBI</a> dataset.</figcaption>

      </figure>

  </div>
  <div id="LeftPanel" style="width: 50%; height: 100%; float: left;">

      <figure>
        <caption><h3>Projected Change
        <a href="documentation#doc_plot_projection"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a>
        <form method="POST" action="/prepare_for_download/plot_projection_diff_map**_large.png" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">png</button></form>
        <form method="POST" action="/prepare_for_download/plot_projection_diff_map**.pdf" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">pdf</button></form> </h3>
        </caption>
        <IMG SRC={{fl_plot_projection_diff_map}} ALT=' ' WIDTH=100%></IMG>
      <figcaption class=small>Projected change in precipitation for {{proj_longname}} compared to the reference {{ref_longname}}. Here the <a href=documentation#doc_meth_ens_mean>ensemble mean</a> of <a href=documentation#doc_RCM>regional climate model</a> projections is displayed. Grid-cells for which a <a href=documentation#doc_meth_disagreement>model-disagreement</a> is found are colored in gray. The projections are based on the <a href=documentation#doc_scenario>emission scenario RCP4.5</a>.</figcaption>
      </figure>

  </div>
</div>

<div id="LeftPanel" style="width: 74%; height: 100%; float: left; padding-left: 2%;">
  <div id="LeftPanel" style="width: 50%; height: 100%; float: left;">

      <figure>
        <caption><h3>Regionally Averaged Transient
        <a href="documentation#doc_plot_transient"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a>
        <form method="POST" action="/prepare_for_download/plot_transient**_large.png" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">png</button></form>
        <form method="POST" action="/prepare_for_download/plot_transient**.pdf" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">pdf</button></form> </h3>
        </caption>
        <IMG SRC={{fl_plot_transient}} ALT=' ' WIDTH=100%></IMG>
      <figcaption class=small><a href=documentation#doc_RCM>Regional climate model</a> projections for precipitation displayed as 20 year running mean. The line represents the <a href=documentation#doc_meth_ens_mean>ensemble mean</a> while the shaded area represents the model spread. The projections are based on the <a href=documentation#doc_scenario>emission scenario RCP4.5</a>.</figcaption>
      </figure>

  </div>

  <div id="LeftPanel" style="width: 50%; height: 100%; float: left;">

      <figure>
        <caption><h3>Regionally Averaged Annual Cycle
        <a href="documentation#doc_plot_annual_cycle"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a>
        <form method="POST" action="/prepare_for_download/plot_annual_cycle**_large.png" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">png</button></form>
        <form method="POST" action="/prepare_for_download/plot_annual_cycle**.pdf" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">pdf</button></form> </h3>
        </caption>
        <IMG SRC={{fl_plot_annual_cycle}} ALT=' ' WIDTH=100%></IMG>
      <figcaption class=small>Top: Annual cycle of precipitation for the {{ref_longname}}. Bottom: Changes in annual cycle projected for {{proj_longname}} compared to the reference {{ref_longname}}. <a href=documentation#doc_EWEMBI>EWEMBI</a> data is shown in black, <a href=documentation#doc_RCM>regional climate model</a> simulations in green. The green line represents the <a href=documentation#doc_meth_ens_mean>ensemble mean</a> while the shaded area represents the model spread. The projections are based on the <a href=documentation#doc_scenario>emission scenario RCP4.5</a>.</figcaption>
      </figure>

  </div>
</div>

</div>


<!-- here are some functions defined in javascript
they are required to get buttons and menues to work -->

<script type="text/javascript">

  // this function handles changes in the country menu
  // when a new country is selcted, the loading screen is shown
  // than the action defined in line 11 is excecuted
  function change_country() {
    $("#loading").show();
    document.getElementById("country_id").submit();
  }

  function change_indicator() {
    $("#loading").show();
    document.getElementById("indicator_id").submit();
  }

  function change_period() {
    $("#loading").show();
    document.getElementById("period_id").submit();
   }

   function change_warming_lvl() {
    $("#loading").show();
    document.getElementById("warming_lvl_id").submit();
   }


  function change_season() {
    $("#loading").show();
    document.getElementById("season_id").submit();
  }

  function change_region() {
    $("#loading").show();
    document.getElementById("region_id").submit();
  }



</script>





{% endblock %}
