{% extends "layout.html" %}
{% block content %}



<!-- BEGIN COMPONENT Simple Table - Taco HTML Edit -->
<style type="text/css">
table#myTable
{
	width: 40%;
	margin-left: 100px;
	border: 0px solid #6c7aa9;
	border-collapse: separate;
	border-spacing: 0px;
	*border-collapse: expression('separate', cellSpacing = '0px'); /*For IE*/
}
table#myTable tbody tr
{
	background-color: #ffffff;
	color: #000000;
}
table#myTable tbody tr.tswOddRow
{
	background-color: #edf3ff;
}
table#myTable td
{
	border: 1px solid #cccccc;
	padding: 2px;

}

p
{
    width:600px;
    word-wrap:break-word;
    margin-left: 100px
}

ul.list
{
    width:600px;
    word-wrap:break-word;
    margin-left: 100px;
    list-style-type:square;
}

section {
    padding-top: 60px;
    margin-top: -60px;
}

h2
{
    width:600px;
    word-wrap:break-word;
    margin-left: 40px
}

h3
{
    width:600px;
    word-wrap:break-word;
    margin-left: 60px
}

h4
{
    width:600px;
    word-wrap:break-word;
    margin-left: 80px
}

#parent {
    width:100%;
    height:100%;
}

#sidebar {
    padding-top:50px; /* padding-top must be the same as header height */
    width:300px;
    height:100%;
    /*background-color: blue;*/
    box-sizing:border-box;
    position: fixed;
    z-index:99;
}

#main-content {
    position: relative;
    width: 100%;
    padding-left:300px; /* padding-left must be the same as sidebar width */
    /*height: 300px;  This could be anything, content should scroll vertical */
    /*background: green;*/
    box-sizing:border-box;
    padding-top: 50px; /* padding-top must be the same as header height */
    padding-bottom: 150px;
    height: 100%;
    overflow: auto;
}

.anchor{
   display:block;
   height:60px; /* this is the height of your header */
   margin-top:-60px; /* this is again negative value of the height of your header */
   visibility:hidden;
}

</style>




<!-- END COMPONENT Simple Table - Taco HTML Edit -->

<!-- End HEAD content -->
<div id="loading"><div id="overlay"></div><div id='overlay_text'><h1>Loading ... </h1></div></div>

<div id="content">

<div id="sidebar">
  <div id="table-of-contents">
    <div id="text-table-of-contents">
    <a href="#doc_start">Documentation</a>
      <ul>

        <li><a href="#doc_summary">Summary</a></li>
        <ul>
          <li><a href="#doc_purpose">Purpose</a></li>
          <li><a href="#doc_key_functionalities">Methods</a></li>
          <li><a href="#doc_limitations">Limitations</a></li>
        </ul>

        <li><a href="#doc_data_source">Data Sources</a></li>
        <ul>
          <li><a href="#doc_RCM">Regional Climate Models (RCM)</a></li>
          <li><a href="#doc_ensemble">Choice of the ensemble</a></li>
          <li><a href="#doc_scenario">Choice of emission scenarios</a></li>
          <li><a href="#doc_EWEMBI">EWEMBI (observations and reanalysis)</a></li>
          <li><a href="#doc_bias_correction">Bias Correction</a></li>
          <li><a href="#doc_shapefiles">Regional shapefiles</a></li>
        </ul>

        <li><a href="#doc_indicators">Climate Indicators</a></li>

        <li><a href="#doc_plot_explanation">Presentation of the projections</a></li>
        <ul>
          <li><a href="#doc_plot_climatology">Reference Period Map</a></li>
          <li><a href="#doc_plot_projection">Projection Map</a></li>
          <li><a href="#doc_plot_transient">Regionally Averaged Transient</a></li>
          <li><a href="#doc_plot_annual_cycle">Regionally Averaged Annual Cycle</a></li>
        </ul>
        <li><a href="#doc_tool">Climate Data Tool (Python)</a></li>
        <li><a href="#doc_acknowledgements">Acknowledgements</a></li>
        <li><a href="#doc_references">References</a></li>
      </ul>
    </div>
  </div>
</div>


<div id="main-content">

  <h1 class="title" id="doc_start">Documentation</h1>

  <span class=anchor id=doc_summary></span>
  <div id="outline-container-1" class="outline-2">
  <h2><span class="section-number-2"> Summary </span></h2>
  <div class="outline-text-2" id="text-1"></div>
  </div>

  <span class=anchor id=doc_purpose></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Purpose </span></h3>
  <div class="outline-text-2" id="text-1">
  <p>We created this tool to facilitate the access to state of the art regional climate projections to a wider public. The used data is publicly available and the scripts developed for this website are based on open source code. Our contribution here is to constrain the information to some basic graphics that can easily be interpreted and reused for reports involving climate change.
  </p>
  </div>
  </div>

  <span class=anchor id=doc_key_functionalities></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Methods </span></h3>
  <div class="outline-text-2" id="text-1">
  <p>
  The graphics described in <a href='#doc_plot_explanation'>presentation of the projections</a> are based on four basic functionalities:
  <ul class=list>
  <span class=anchor id=doc_meth_period></span>
  <li><b>Period averages </b>are used in overview maps as the <a href='#doc_plot_climatology'>climatology map</a> and the <a href='#doc_plot_projection'>projection map</a>. As inter-annual variability might be larger than the climate change signal the future climate as well as the current climate have to be treated as period averages (we suggest 30 years). For each grid-cell the time average of all monthly values (of the chosen months) for the years within the chosen period is computed. </li>
  <span class=anchor id=doc_meth_area></span>
  <li><b>Area averages </b>are used for the <a href='#doc_plot_transient'>transient plot</a> and the <a href='#doc_plot_annual_cycle'>annual cycle plot</a>. The area average is computed at each time step as the average of all grid-cells touched by the region. Grid-cells are weighted by the fraction of the area of the region covered by the grid-cell. </li>
  <span class=anchor id=doc_meth_ens_mean></span>
  <li>We display the <b>ensemble mean</b> of the model projections instead of showing the results separately for each model. The ensemble mean is the mean value of the 4 models computed at each grid-cell or at each time step depending on the plot. </li>
  <span class=anchor id=doc_meth_disagreement></span>
  <li> Only showing the ensemble mean hides information about the discrepancies between models and the uncertainty of projections. In the <a href='#doc_plot_projection'>projection map</a> we therefore show <b>model-disagreement</b> to reintroduce some of the uncertainty information. Here we say that models disagree on the projected change if at least two of the four models project a change that differs in sign from the ensemble mean. </li>
  </ul></p>
  </div>
  </div>

  <span class=anchor id=doc_limitations></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Limitations </span></h3>
  <div class="outline-text-2" id="text-1">
  <p>
  <ul class=list>
    <li><b>Small Ensemble: </b>Model projections are shown for the ensemble mean of four regional climate models. We argue that larger ensembles might not improve the projection quality due to biases resulting from reusing the same general circulation models (see <a href=#doc_ensemble>ensemble choice</a>). However, an ensemble of four models is rather small and an additional comparison of our 4-model ensemble to larger ensembles would improve the credibility of our projections. </li>
    <li><b>Precipitation Projections: </b>Although regional climate models have improved precipitation simulations over Africa, substantial biases remain. This is partly due to the sparse network of meteorological stations in most parts of Africa <a href=#ref_kim2014>(Kim 2014)</a>.</li>
    <li><b>Performance of models to reproduce extreme events: </b> <a href=#doc_bias_correction>Bias correction</a> techniques have been applied to overcome systematic biases found in model simulations. However for some regions, climate change indicators as <a href='#doc_TXx'>hot extremes (TXx)</a> or <a href='#doc_RX1'>wet extremes (RX1day)</a> are over- or under estimated by models. See <a href=#doc_bias_correction>bias correction</a> for more details. </li>
  </ul>
  </p>
  </div></div>


  <span class=anchor id=doc_data_source></span>
  <div id="outline-container-1" class="outline-2">
  <h2><span class="section-number-2"> Data Sources </span></h2>
  <div class="outline-text-2" id="text-1"></div>
  </div>

  <span class=anchor id=doc_RCM></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Regional Climate Models </span></h3>
  <div class="outline-text-2" id="text-1">
  <p>Analysing climate projections on the national scale requires high resolution data, which isn't provided by <b>global circulation models (GCM)</b>. For a restricted region high resolution climate projections can be obtained from <b>regional climate models (RCM)</b>. RCMs model local impacts of changes in global greenhouse gas concentrations. Therefore RCMs require global climate simulations of GCMs as input. Thus RCM climate projections are always the result of the combination of a GCM with a RCM.</p>
  </div>
  </div>


  <span class=anchor id=doc_ensemble></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Choice of the ensemble </span></h3>
  <div class="outline-text-2" id="text-1">
  <p>The studied ensemble includes four combinations of RCMs and GCMs. Although more combinations would be possible, we restrict ourself to a smaller set in which each model appears only once in order to avoid biases towards one of the models.</p>
  <div rows>
  <div id="LeftPanel" style="width: 40%; height: 100%; float: left; padding-left: 20%; padding-right: 40%;">
      <table class="table">
      <thead>
        <tr>
          <th>GCM forcing</th>
          <th>RCM</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>MPIESM</td><td>REMO</td></tr>
        <tr><td>HADGEM2</td><td>CCLM4</td></tr>
        <tr><td>ECEARTH</td><td>RACMO</td></tr>
        <tr><td>IPSL</td><td>RCA</td></tr>
      </tbody>
      </table>
  </div>
  </div>
  </div>
  </div>


  <span class=anchor id=doc_scenario></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Choice of the emission scenario </span></h3>
  <div class="outline-text-2" id="text-1">
  <p>Climate projections are shown for the emission scenario RCP4.5, which is in between the emission scenario meeting leading to a 2°C global warming above pre-industrial (RCP2.6) and the business as usual scenario (RCP8.5).<br>
  Instead of using <b>fixed time periods</b> and different emission scenarios, one can look at time periods for which a certain <b>global warming level above pre-industrial</b> is reached. For each model we estimate the twenty year time period reaching a certain warming level. When presenting the ensemble mean projections for differences between warming levels, different periods are used for the different models:</p>
  <div id="LeftPanel" style="width: 40%; height: 100%; float: left; padding-left: 20%; padding-right: 40%;">
      <table class="table">
      <thead>
        <tr>
          <th>Model</th>
          <th>+1.5°C</th>
          <th>+2.0°C</th>
          <th>Reference +0.61°C</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>MPIESM-REMO</td><td>2023-2042</td><td>2054-2073</td><td>1986-2006</td></tr>
        <tr><td>HADGEM2-CCLM4</td><td>2013-2032</td><td>2028-2047</td><td>1986-2006</td></tr>
        <tr><td>ECEARTH-RACMO</td><td>2024-2043</td><td>2046-2065</td><td>1986-2006</td></tr>
        <tr><td>IPSL-RCA</td><td>2019-2038</td><td>2034-2053</td><td>1986-2006</td></tr>
      </tbody>
      </table>
  </div>
  </div>

  <p>The warming levels were computed using the <a href="http://wlcalc.climateanalytics.org">Warming Attribution Calculator</a></p>
  </div>


  <span class=anchor id=doc_EWEMBI></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2">EWEMBI (observations and reanalysis)</span></h3>
  <div class="outline-text-2" id="text-1">
  <p>EWEMBI is a product of several reanalysis and observation datasets <a href=#ref_lange2016>(Lange 2016)</a>. It has global coverage on a 0.5°x0.5° grid. EWEMBI data is used for bias correction as well as for the representation of the <a href=#doc_plot_climatology>reference climatology</a>. Please find more information on <a href=https://www.isimip.org/gettingstarted/details/27>https://www.isimip.org/gettingstarted/details/27/</a></p>
  </div></div>

  <span class=anchor id=doc_bias_correction></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Bias Correction </span></h3>
  <div class="outline-text-2" id="text-1">
  <p>A trend-preserving bias correction technique is applied to the RCM climate projections. This bias correction technique adjusts climate simulations to a reference dataset (<a href=doc_EWEMBI>EWEMBI</a>) over a reference periods without influencing projected trends <a href=#ref_hempel2013>(Hempel 2013)</a>.</p>
  <div id="LeftPanel" style="width: 95%; height: 100%; float: left; padding-left: 5%; padding-right: 0%;">
    <figure>
    <IMG SRC='static/images/bias_correction/tas_transients.png ' ALT=' ' WIDTH=350 HEIGHT=350></IMG>
    <IMG SRC='static/images/bias_correction/pr_transients.png ' ALT=' ' WIDTH=350 HEIGHT=350></IMG>
    <IMG SRC='static/images/bias_correction/TXx_transients.png ' ALT=' ' WIDTH=350 HEIGHT=350></IMG>
    <IMG SRC='static/images/bias_correction/RX1_transients.png ' ALT=' ' WIDTH=350 HEIGHT=350></IMG>
    <IMG SRC='static/images/bias_correction/RX5_transients.png ' ALT=' ' WIDTH=350 HEIGHT=350></IMG>
    <IMG SRC='static/images/bias_correction/transients_legend.png ' ALT=' ' WIDTH=350 HEIGHT=350></IMG>
    <figcaption><b>Fig 1</b> Climate model projections for Senegal. Non-bias corrected <a href='#doc_RCM'>regional climate models (RCM)</a> in grey, bias corrected <a href='#doc_RCM'>regional climate models (RCM)</a> in magenta, <a href='#doc_EWEMBI'>EWEMBI</a> in black and bias corrected global circulation models (GCM) in green. The GCM ensemble includes the five models used as input for the ISIMIP project (see <a href='https://www.isimip.org/gettingstarted/#input-data-bias-correction'>https://www.isimip.org</a>). The ensemble mean is represented by the thick line while the ensemble spread is shown by the shading. The data has been smoothed with a 20 year running mean (see <a href='#doc_plot_transient'>regionally averaged transients</a>). </figcaption>
    </figure>
  </div>
  <p>For monthly mean temperature and monthly precipitation bias correction largely improves the quality of simulations. The model spread is reduced and the <a href=#doc_meth_ens_mean>ensemble mean</a> is close to the <a href='#doc_EWEMBI'>EWEMBI</a> data. Note that the used bias correction method does not aim at correcting trends towards observations and therefore the difference in trends between <a href='#doc_EWEMBI'>EWEMBI</a> and the model data is not related to the bias correction technique but to the limited quality of climate models.</p>
  <p>For extreme values as <a href=#doc_TXx>hot extremes (TXx)</a>, <a href=#doc_RX1>wet extremes (RX1day)</a> and <a href=#doc_RX5>5day wet extremes (RX5day)</a> differences between <a href='#doc_EWEMBI'>EWEMBI</a> data and model projections remain after bias correction. Bias correction mainly reduces the model spread but partly fails to correct the <a href=#doc_meth_ens_mean>ensemble mean</a> towards <a href='#doc_EWEMBI'>EWEMBI</a>. Shortcomings of the used bias correction method for weather extremes have been reported by Sippel et al. <a href=#ref_sippel2016>(Sippel 2016)</a>.
  </p>
  </div></div>

  <span class=anchor id=doc_shapefiles></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Regional Shapefiles </span></h3>
  <div class="outline-text-2" id="text-1">
  <p>Borders of countries and administrative regions within the countries can be found on <a href=http://www.gadm.org>http://www.gadm.org</a></p>
  </div></div>


  <span class=anchor id=doc_indicators></span>
  <div id="outline-container-1" class="outline-2">
  <h2><span class="section-number-2"> Climate Indicators </span></h2>
  <div class="outline-text-2" id="text-1">
  <p>
  Besides monthly mean <b>temperature</b> and monthly cumulated <b>precipitation</b> three <a href='http://etccdi.pacificclimate.org/list_27_indices.shtml'>climate change indices</a> can be analysed:</p>
  <ul style="width:600px; word-wrap:break-word; margin-left: 100px; list-style-type:square;">
    <span class=anchor id=doc_TXx></span>
    <li><b>Hot extremes TXx,</b> Monthly maximum value of daily maximum temperature: <br> Let TXx be the daily maximum temperatures in month k, period j. The maximum daily maximum temperature each month is then:
    TXx<sub>kj</sub>=max(TXx<sub>kj</sub>) </li>
    <span class=anchor id=doc_RX1></span>
    <li><b>Wet extremes Rx1day,</b> Monthly maximum 1-day precipitation: <br> Let RR<sub>ij</sub> be the daily precipitation amount on day i in period j. The maximum 1-day value for period j are: Rx1day<sub>j</sub> = max (RR<sub>ij</sub>) </li>
     <span class=anchor id=doc_RX5></span>
   <li><b>5day wet extremes Rx5day,</b> Monthly maximum consecutive 5-day precipitation: <br> Let RR<sub>kj</sub> be the precipitation amount for the 5-day interval ending k, period j. Then maximum 5-day values for period j are: Rx5day<sub>j</sub> = max (RR<sub>kj</sub>) </li>
  </ul>
  <p>
  Please find more information about these indicators on <a href='http://etccdi.pacificclimate.org'>http://etccdi.pacificclimate.org</a>.</p>
  <p>In the current version now drought indicators are included. One can draw basic assumptions about changes in drought risk by analysing monthly precipitation changes in combination with changes in monthly mean temperature assuming that potential evapotranspiration increases with higher temperatures.</p>
  </div></div>


  <span class=anchor id=doc_plot_explanation></span>
  <div id="outline-container-1" class="outline-2">
  <h2><span class="section-number-2"> Presentation of Climate Projections </span></h2>
  <div class="outline-text-2" id="text-1"></div></div>

  <span class=anchor id=doc_plot_climatology></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Reference Period Map </span></h3>
  <div class="outline-text-2" id="text-1">
  <p>For each indicator, a map of the climatology is presented. This map is a <a href='#doc_meth_period'>period average</a> over the reference period for the <a href='#doc_EWEMBI'>EWEMBI</a> dataset. For temperature indicators, hotter regions are darker than cooler regions. For precipitation indicators, wetter regions are darker than drier regions.</p>
  </div></div>

  <span class=anchor id=doc_plot_projection></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Projection Map </span></h3>
  <div class="outline-text-2" id="text-1">
  <p>
  Changes in climate indicators are presented as the difference between the <a href='#doc_meth_period'>period average</a> of the projection period and the <a href='#doc_meth_period'>period average</a> of the reference period. These differences are calculated individually for each model. In the map, the <a href='#doc_meth_ens_mean'>ensemble mean</a> change is presented. Grid cells for which the sign of the projected change of two models differs from the the ensemble mean are coloured in grey as <a href='#doc_meth_disagreement'>models disagree</a> on how the future climate might change in this cell. Changes towards warmer or drier conditions are coloured in red, changes towards cooler or wetter conditions are coloured in blue.
  </p>
  </div></div>

  <span class=anchor id=doc_plot_transient></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2">Regionally Averaged Transient</span></h3>
  <div class="outline-text-2" id="text-1">
  <p>For the transient plots, the <a href='#doc_meth_area'>regional average</a> is taken at each time step (grid-points are weighted by the fraction of the region covered by the grid-cell). The evolution of this <a href='#doc_meth_area'>area average</a> is shown for <a href='#doc_RCM'>RCM projections</a>. The <a href='#doc_meth_ens_mean'>ensemble mean</a> of RCM projections are shown by a thick green line while the model spread is represented by green shading. When choosing a month or a defined season, only the time steps corresponding to the month (months in season) are considered. Results are presented as a 20 year running mean.</p>
  </div></div>

  <span class=anchor id=doc_plot_annual_cycle></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2">Regionally Averaged Annual Cycle </span></h3>
  <div class="outline-text-2" id="text-1">
  <p>In the upper panel, the annual cycle is shown for the reference period for <a href='#doc_EWEMBI'>EWEMBI</a> and <a href='#doc_RCM'>RCM projections</a>. In the lower panel the projected change in the annual cycle is shown. This projected change is computed as the difference between the annual cycle of the projection period and the annual cycle of the reference period. As for the transients the <a href='#doc_meth_area'>regional average</a> is presented. The <a href='#doc_meth_ens_mean'>ensemble mean</a> of RCM projections are shown by a thick green line while the model spread is represented by green shading.</p>
  </div></div>


  <span class=anchor id=doc_tool></span>
  <div id="outline-container-1" class="outline-2">
  <h2><span class="section-number-2"> Climate Data Tool (Python) </span></h2>
  <div class="outline-text-2" id="text-1">
  <p>This website is based on a climate data tool developed for the analysis of regional climate information. Besides the functions to compute <a href='#doc_meth_period'>period averages</a>, <a href='#doc_meth_area'>area averages</a> and <a href='#doc_meth_ens_mean'>ensemble means</a> the tool has several additional functions that could be useful for for more sophisticated analysis.<br>
  The open source code and a documentation of the tool will be published soon.</p>
  </div></div>

  <span class=anchor id=doc_acknowledgements></span>
  <div id="outline-container-1" class="outline-2">
  <h2><span class="section-number-2"> Acknowledgements </span></h2>
  <div class="outline-text-2" id="text-1">
  <p>We acknowledge the World Climate Research Programme's Working Group on Regional Climate, and the Working Group on Coupled Modelling, former coordinating body of CORDEX and responsible panel for CMIP5. We also thank the climate modelling groups (listed in Table XX of this paper) for producing and making available their model output. We also acknowledge the Earth System Grid Federation infrastructure an international effort led by the U.S. Department of Energy's Program for Climate Model Diagnosis and Intercomparison, the European Network for Earth System Modelling and other partners in the Global Organisation for Earth System Science Portals (GO-ESSP).</p>
  </div></div>

  <span class=anchor id=doc_references></span>
  <div id="outline-container-1" class="outline-2">
  <h2><span class="section-number-2"> References </span></h2>
  <div class="outline-text-2" id="text-1">
  <p><small>
  <span class=anchor id=ref_hempel2013></span>Hempel, Sabrina, et al. "A trend-preserving bias correction–the ISI-MIP approach." Earth System Dynamics 4.2 (2013): 219-236.<br>
  <span class=anchor id=ref_lange2016></span>Lange, Stefan (2016): EartH2Observe, WFDEI and ERA-Interim data Merged and Bias-corrected for ISIMIP (EWEMBI). GFZ Data Services. http://doi.org/10.5880/pik.2016.004<br>
  <span class=anchor id=ref_sippel2016></span>Sippel, Sebastian, et al. "A novel bias correction methodology for climate impact simulations." Earth System Dynamics 7.1 (2016): 71.<br>
  <span class=anchor id=ref_kim2014></span>Kim, J., et al. "Evaluation of the CORDEX-Africa multi-RCM hindcast: systematic model errors." Climate dynamics 42.5-6 (2014): 1189-1202.<br>
  </small></p>
  </div></div>

</div>
</div>
{% endblock %}
