<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8"/>

  <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
  <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>


  <meta charset="utf-8">
  <title>some tool</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- load style sheets
  they define fonts, fontsizes, colors etc. -->
  <link href="static/assets/css/bootstrap.css" rel="stylesheet">
  <link href="static/assets/css/some_styles.css" rel="stylesheet">
  <link href="static/assets/css/bootstrap-responsive.css" rel="stylesheet">

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="static/assets/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="static/assets/ico/favicon.png">

  <!-- this is for access tracking -->
  <!-- Matomo -->
  <!-- http://regioclim.climateanalytics.org/ -->
  <script type="text/javascript">
     var _paq = window._paq || [];
     /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
     _paq.push(['trackPageView']);
     _paq.push(['enableLinkTracking']);
     (function() {
         var u="//climateanalytics.org/stats/";
         _paq.push(['setTrackerUrl', u+'matomo.php']);
         _paq.push(['setSiteId', '4']);
         var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
         g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
     })();
  </script>
  <!-- End Matomo Code -->

  </head>

  <!-- this is the navigation bar -->
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
              <a class="brand" href="choices"><IMG SRC='static/images/RegioClim-Logo-280x98.png' ALT=' ' WIDTH=120></a>
              <li><a href="about">About</a></li>
              <li><a href="documentation">Documentation</a></li>
           </ul>
           <div align="right">
             <a href="http://climateanalytics.org/"><IMG SRC='static/images/CA_Logo-final.png' ALT=' ' WIDTH=110></IMG></a>
         </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">



<!--
      <h1>Bootstrap starter template</h1>
-->
      {% from "_formhelpers.html" import render_field %}

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
      {% for message in messages %}
          <li>{{ message }} </li>
      {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}


      <div id="LeftPanel" style="padding-top:100%;">
        <div id="LeftPanel" style="height:5%; background:gray;">
          <br>
        </div>
        <p id="cookie_id">asdas</p>
      </div>
      <script>
      if ("{{lan}}" == 'fr') {
        document.getElementById("cookie_id").innerHTML = "Nous utilisons des cookies pour suivre et analyser certaines des actions que vous effectuez sur ce site Web, dans le but d'améliorer l'utilisation que vous en faites et celle de ses autres visiteurs. Vous pouvez néanmoins choisir de désactiver les cookies lors de votre navigation sur le site en cliquant <a href=https://climateanalytics.org/stats/index.php?module=CoreAdminHome&action=optOut&language=fr&backgroundColor=ffffff&fontColor=&fontSize=14px&fontFamily=Helvetica%2C%20Arial>ici</a>.";
      }
      else {
        document.getElementById("cookie_id").innerHTML = "We use cookies to track and analyse some of the actions you take on this website, with the aim of improving the user experience for you and others. You can choose to unsubscribe from the use of cookies by clicking <a href=https://climateanalytics.org/stats/index.php?module=CoreAdminHome&action=optOut&language=en&backgroundColor=ffffff&fontColor=&fontSize=14px&fontFamily=Helvetica%2C%20Arial>here</a>.";
      }
      </script>


    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/assets/js/jquery.js"></script>
    <script src="static/assets/js/bootstrap-transition.js"></script>
    <script src="static/assets/js/bootstrap-alert.js"></script>
    <script src="static/assets/js/bootstrap-modal.js"></script>
    <script src="static/assets/js/bootstrap-dropdown.js"></script>
    <script src="static/assets/js/bootstrap-scrollspy.js"></script>
    <script src="static/assets/js/bootstrap-tab.js"></script>
    <script src="static/assets/js/bootstrap-tooltip.js"></script>
    <script src="static/assets/js/bootstrap-popover.js"></script>
    <script src="static/assets/js/bootstrap-button.js"></script>
    <script src="static/assets/js/bootstrap-collapse.js"></script>
    <script src="static/assets/js/bootstrap-carousel.js"></script>
    <script src="static/assets/js/bootstrap-typeahead.js"></script>
    <script src="static/assets/js/submit_javascript.js"></script>


<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>




  </body>

</html>
